# Environments
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Virtual environment
venv/
.venv/

# Airflow
airflow.cfg
airflow.db
airflow.db-shm
airflow.db-wal
logs/
*.log
simple_auth_manager_passwords.json.generated
simple_auth_manager_passwords.json

# OS junk
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
