apache-airflow==3.3.0
beautifulsoup4==4.15.0
boto3==1.43.68
python-dotenv==1.2.2
Requests==2.34.2
snowflake==1.13.0
awscli==1.46.0
apache-airflow-providers-amazon==9.34.0
apache-airflow-providers-snowflake==6.16.0
apache-airflow-providers-slack==9.10.2
snowflake-connector-python==4.7.2
streamlit==1.61.1
